<%- include('layout/header') %>

<div class="container">
    <div class="card" style="width: 38rem;">
        <div class="card-body">
            <h5 class="card-title">Cambiar dato del alumno <%= alumno.firstName %></h5>
            <form action="/alumnos/edit/<%= alumno._id %>?_method=PUT" method="post" id="add-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputFirstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= alumno.firstName %>" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputLastName">Apellido</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" value="<%= alumno.lastName %>" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputBirth">Nacimiento</label>
                    <input type="date" class="form-control" id="birth" name="birth" value="<%= alumno.birth %>" required>
                </div>
                <div class="form-group">
                    <label for="exampleDescription">Nº Celular</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= alumno.phoneNumber %>" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= alumno.email %>" required>
                </div>
                <div class="form-group">
                    <label for="exampleDescription">Introducción</label>
                    <textarea name="description" class="form-control" id="description" name="description" rows="5" required><%= alumno.description %></textarea>
                </div>
                <div class="custom-file">
                    <label class="custom-file-label" for="photoUser">Escoge imagen...</label>
                    <input type="file" accept="image/png, image/jpeg" class="form-control" id="file" name="file">
                    <div class="invalid-feedback">Documento no valido</div>
                    <img src="<%= alumno.photoUser %>" class="img-thumbnail mt-1" width="100">
                </div>
                <input type="hidden" name="photoUserName" id="photoUserName" value="<%= alumno.photoUserName %>">
                <input type="hidden" name="old_image" id="old_image" value="<%= alumno.photoUser %>">

                <div class="button-container">
                    <br>
                    <button type="submit" class="btn btn-primary mb-2">Click para editar</button>
                    <br>
                    <a href="/alumnos/list" class="btn btn-danger mb-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('layout/footer') %>